In [99]:
import pandas as pd
import os
import numpy
import warnings
warnings.filterwarnings('ignore')

In [100]:
os.chdir(r'C:\Users\Thiresh sidda\Downloads\task')
os.getcwd()

'C:\\Users\\Thiresh sidda\\Downloads\\task'

In [101]:
os.listdir()

['neen2.ipynb',
 'neenopal task.ipynb',
 'Records Matching Task.xlsx - data1.csv',
 'Records Matching Task.xlsx - data2.csv',
 'used_bikes.csv']

#### 1.Reading CSV file

In [102]:
df=pd.read_csv('used_bikes.csv')
df

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha
...,...,...,...,...,...,...,...,...
144,Royal Enfield Standard 350cc,115000.0,Hyderabad,14900.0,First Owner,3.0,350.0,Royal Enfield
145,Honda CB Shine 125cc Disc,65000.0,Mumbai,2000.0,First Owner,3.0,125.0,Honda
146,Honda CB Unicorn ABS 150cc,99000.0,Mumbai,4000.0,First Owner,2.0,150.0,Honda
147,Yamaha YZF-R15 2.0 150cc,68500.0,Delhi,68500.0,Second Owner,7.0,150.0,Yamaha
148,Yamaha YZF-R15 V3 150cc,140000.0,Delhi,2473.0,First Owner,2.0,150.0,Yamaha

In [103]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   bike_name   149 non-null    object
 1   price       149 non-null    float64
 2   city        149 non-null    object
 3   kms_driven  149 non-null    float64
 4   owner       149 non-null    object
 5   age         149 non-null    float64
 6   power       149 non-null    float64
 7   brand       149 non-null    object
dtypes: float64(4), object(4)
memory usage: 9.4+ KB

### 2.Change in Datatypes

In [104]:
df['price']=df['price'].astype('int')
df['kms_driven']=df['kms_driven'].astype('int')
df['age']=df['age'].astype('int')
df['power']=df['power'].astype('int')

In [105]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   bike_name   149 non-null    object
 1   price       149 non-null    int32
 2   city        149 non-null    object
 3   kms_driven  149 non-null    int32
 4   owner       149 non-null    object
 5   age         149 non-null    int32
 6   power       149 non-null    int32
 7   brand       149 non-null    object
dtypes: int32(4), object(4)
memory usage: 7.1+ KB

###### Observation: memory usage before and after the change in the data types is Decreased.

## 3. Dump the data into the mysql database.

In [106]:
import mysql.connector as msql
from mysql.connector import Error
try:
    conn = msql.connect(host='localhost', user='root',  
                        password='thireshsidda963i7')#give ur username, password
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("CREATE DATABASE used_bikes")
        print("Database is created")
except Error as e:
    print("Error while connecting to MySQL", e)

Error while connecting to MySQL 1007 (HY000): Can't create database 'used_bikes'; database exists

In [107]:
df.head(2)

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000,Ahmedabad,17654,First Owner,3,110,TVS
1,Royal Enfield Classic 350cc,119900,Delhi,11000,First Owner,4,350,Royal Enfield

In [111]:
import mysql.connector as msql
from mysql.connector import Error
try:
    conn = msql.connect(host='localhost', database='used_bikes', user='root', password='thireshsidda963i7')
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)
        cursor.execute('DROP TABLE IF EXISTS used_bikes_data;')
        print('Creating table....')
# in the below line please pass the create table statement which you want #to create
        cursor.execute("CREATE TABLE used_bikes_data(bike_name varchar(255),price int,city varchar(255),kms_driven int,owner varchar(225),age int,power int,brand varchar(225))")
        print("Table is created....")
        #loop through the data frame
        for i,row in df.iterrows():
            #here %S means string values 
            sql = "INSERT INTO used_bikes.used_bikes_data VALUES (%s,%s,%s,%s,%s,%s,%s,%s)"
            cursor.execute(sql, tuple(row))
            print("Record inserted")
            # the connection is not auto committed by default, so we must commit to save our changes
            conn.commit()
except Error as e:
            print("Error while connecting to MySQL", e)

You're connected to database:  ('used_bikes',)
Creating table....
Table is created....
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted

In [112]:
# Execute query
sql = "SELECT * FROM used_bikes.used_bikes_data"
cursor.execute(sql)
# Fetch all the records
result = cursor.fetchall()
for i in result:
    print(i)

('TVS Star City Plus Dual Tone 110cc', 35000, 'Ahmedabad', 17654, 'First Owner', 3, 110, 'TVS')
('Royal Enfield Classic 350cc', 119900, 'Delhi', 11000, 'First Owner', 4, 350, 'Royal Enfield')
('Triumph Daytona 675R', 600000, 'Delhi', 110, 'First Owner', 8, 675, 'Triumph')
('TVS Apache RTR 180cc', 65000, 'Bangalore', 16329, 'First Owner', 4, 180, 'TVS')
('Yamaha FZ S V 2.0 150cc-Ltd. Edition', 80000, 'Bangalore', 10000, 'First Owner', 3, 150, 'Yamaha')
('Yamaha FZs 150cc', 53499, 'Delhi', 25000, 'First Owner', 6, 150, 'Yamaha')
('Honda CB Hornet 160R  ABS DLX', 85000, 'Delhi', 8200, 'First Owner', 3, 160, 'Honda')
('Hero Splendor Plus Self Alloy 100cc', 45000, 'Delhi', 12645, 'First Owner', 3, 100, 'Hero')
('Royal Enfield Thunderbird X 350cc', 145000, 'Bangalore', 9190, 'First Owner', 3, 350, 'Royal Enfield')
('Royal Enfield Classic Desert Storm 500cc', 88000, 'Delhi', 19000, 'Second Owner', 7, 500, 'Royal Enfield')
('Yamaha YZF-R15 2.0 150cc', 72000, 'Bangalore', 20000, 'First Owner', 7, 150, 'Yamaha')
('Yamaha FZ25 250cc', 95000, 'Bangalore', 9665, 'First Owner', 4, 250, 'Yamaha')
('Bajaj Pulsar NS200', 78000, 'Bangalore', 9900, 'First Owner', 4, 200, 'Bajaj')
('Bajaj Discover 100M', 29499, 'Delhi', 20000, 'First Owner', 8, 100, 'Bajaj')
('Bajaj Discover 125M', 29900, 'Delhi', 20000, 'First Owner', 7, 125, 'Bajaj')
('Bajaj Pulsar NS200 ABS', 90000, 'Bangalore', 11574, 'First Owner', 3, 200, 'Bajaj')
('Bajaj Pulsar RS200 ABS', 120000, 'Bangalore', 23000, 'First Owner', 3, 200, 'Bajaj')
('Suzuki Gixxer SF 150cc', 48000, 'Mumbai', 24725, 'First Owner', 5, 150, 'Suzuki')
('Benelli 302R 300CC', 240000, 'Mumbai', 15025, 'Second Owner', 3, 302, 'Benelli')
('Bajaj Discover 125M', 29900, 'Delhi', 20000, 'First Owner', 7, 125, 'Bajaj')
('Bajaj Pulsar RS200 ABS', 120000, 'Bangalore', 23000, 'First Owner', 3, 200, 'Bajaj')
('Suzuki Gixxer SF 150cc', 48000, 'Mumbai', 24725, 'First Owner', 5, 150, 'Suzuki')
('Hero Splendor iSmart Plus IBS 110cc', 46500, 'Delhi', 3500, 'First Owner', 2, 110, 'Hero')
('Royal Enfield Classic Chrome 500cc', 121700, 'Kalyan', 24520, 'First Owner', 5, 500, 'Royal Enfield')
('Yamaha FZ V 2.0 150cc', 45000, 'Delhi', 23000, 'First Owner', 6, 150, 'Yamaha')
('Bajaj Pulsar NS200', 78000, 'Bangalore', 9900, 'First Owner', 4, 200, 'Bajaj')
('Hero Super Splendor 125cc', 20000, 'Ahmedabad', 29305, 'First Owner', 16, 125, 'Hero')
('Honda CBF Stunner 125cc', 20800, 'Faridabad', 30500, 'Second Owner', 7, 125, 'Honda')
('Bajaj Pulsar 150cc', 50000, 'Bangalore', 19000, 'First Owner', 8, 150, 'Bajaj')
('Honda X-Blade 160CC ABS', 81200, 'Mettur', 9100, 'First Owner', 2, 160, 'Honda')
('Bajaj Pulsar NS200', 88000, 'Hyderabad', 21914, 'First Owner', 3, 200, 'Bajaj')
('Yamaha YZF-R15 2.0 150cc', 80000, 'Kaithal', 20000, 'Second Owner', 4, 150, 'Yamaha')
('Bajaj Avenger 220cc', 40900, 'Gurgaon', 15000, 'First Owner', 6, 220, 'Bajaj')
('KTM RC 390cc', 180000, 'Pune', 17700, 'First Owner', 4, 390, 'KTM')
('Honda CB Unicorn 150cc', 40000, 'Noida', 30000, 'First Owner', 8, 150, 'Honda')
('KTM Duke 200cc', 70000, 'Nashik', 100000, 'Second Owner', 8, 200, 'KTM')
('Royal Enfield Classic 350cc', 98800, 'Kochi', 39000, 'First Owner', 5, 350, 'Royal Enfield')
('Honda CBR 150R 150cc', 65000, 'Allahabad', 43000, 'First Owner', 6, 150, 'Honda')
('Royal Enfield Thunderbird X 500cc', 190500, 'Samastipur', 4550, 'First Owner', 2, 500, 'Royal Enfield')
('KTM RC 200cc ABS', 179000, 'Bangalore', 3400, 'First Owner', 2, 200, 'KTM')
('Royal Enfield Thunderbird 350cc', 70000, 'Nadiad', 45000, 'First Owner', 8, 350, 'Royal Enfield')
('Bajaj Avenger 220cc', 45000, 'Hyderabad', 36100, 'First Owner', 6, 220, 'Bajaj')
('Royal Enfield Bullet Electra 350cc', 78000, 'Lucknow', 8500, 'First Owner', 13, 350, 'Royal Enfield')
('Bajaj Avenger Street 220 ABS', 110000, 'Bangalore', 2550, 'First Owner', 2, 220, 'Bajaj')
('Royal Enfield Classic 350cc', 85000, 'Delhi', 18000, 'First Owner', 6, 350, 'Royal Enfield')
('Bajaj Pulsar NS200', 38000, 'Delhi', 35000, 'First Owner', 9, 200, 'Bajaj')
('Royal Enfield Thunderbird 350cc', 55346, 'Noida', 38000, 'First Owner', 10, 350, 'Royal Enfield')
('Mahindra Centuro NXT 110cc', 28000, 'Jaipur', 45000, 'First Owner', 2, 110, 'Mahindra')
('Hero Hunk 150cc', 37000, 'Mumbai', 10800, 'First Owner', 8, 150, 'Hero')
('Suzuki Gixxer SF Fi 150cc SP ABS', 97000, 'Delhi', 4400, 'First Owner', 3, 150, 'Suzuki')
('Yamaha FZ 150cc', 40000, 'Karnal', 357000, 'First Owner', 8, 150, 'Yamaha')
('Royal Enfield\u200e Bullet 350cc', 90000, 'Delhi', 15300, 'First Owner', 7, 350, 'Royal Enfield')
('TVS Apache RTR 160cc', 60000, 'Mumbai', 30000, 'First Owner', 5, 160, 'TVS')
('Honda CB Shine 125cc', 21900, 'Gorakhpur', 30000, 'Second Owner', 7, 125, 'Honda')
('Bajaj Avenger 220cc', 40000, 'Ahmedabad', 64000, 'First Owner', 7, 220, 'Bajaj')
('Benelli TNT 600i ABS', 475000, 'Mumbai', 11500, 'Second Owner', 3, 600, 'Benelli')
('Honda Dream Yuga 110cc', 34500, 'Ahmedabad', 17056, 'First Owner', 5, 110, 'Honda')
('Yamaha SZ 150cc', 25000, 'Vidisha', 172082, 'First Owner', 9, 150, 'Yamaha')
('Suzuki Gixxer 150cc', 30200, 'Bangalore', 45000, 'First Owner', 7, 150, 'Suzuki')
('Bajaj Avenger Cruise 220', 65000, 'Hosur', 35000, 'First Owner', 5, 220, 'Bajaj')
('Bajaj Pulsar 150cc', 25000, 'Mumbai', 38000, 'First Owner', 9, 150, 'Bajaj')
('Kawasaki Z900', 935000, 'Bagalkot', 2500, 'First Owner', 2, 900, 'Kawasaki')
('Royal Enfield Bullet Electra 350cc', 107100, 'Delhi', 15438, 'Second Owner', 3, 350, 'Royal Enfield')
('Bajaj Pulsar 220cc', 80000, 'Delhi', 6000, 'First Owner', 3, 220, 'Bajaj')
('Royal Enfield Thunderbird 350cc', 88000, 'Delhi', 19000, 'First Owner', 5, 350, 'Royal Enfield')
('KTM Duke 200cc', 94700, 'Baripara', 32700, 'First Owner', 4, 200, 'KTM')
('Hero CD Deluxe 100cc', 12200, 'Agra', 46643, 'First Owner', 14, 100, 'Hero')
('Royal Enfield Classic 350cc', 106000, 'Delhi', 19000, 'First Owner', 6, 350, 'Royal Enfield')
('Bajaj Pulsar 220cc', 29500, 'Hyderabad', 40700, 'First Owner', 12, 220, 'Bajaj')
('Kawasaki Ninja 650cc', 290000, 'Dharwad', 11350, 'First Owner', 7, 650, 'Kawasaki')
('Royal Enfield Thunderbird 350cc', 110000, 'Delhi', 1600, 'First Owner', 6, 350, 'Royal Enfield')
('Bajaj Platina 125cc', 27000, 'Vadodara', 44410, 'First Owner', 10, 125, 'Bajaj')
('Royal Enfield Thunderbird 350cc', 65000, 'Jalandhar', 9800, 'First Owner', 11, 350, 'Royal Enfield')
('Royal Enfield Thunderbird X 350cc', 150000, 'Bangalore', 15000, 'First Owner', 3, 350, 'Royal Enfield')
('Hero Karizma ZMR 223cc', 55786, 'Surat', 68000, 'Second Owner', 7, 223, 'Hero')
('Bajaj Pulsar 180cc', 45000, 'Bangalore', 17757, 'First Owner', 8, 180, 'Bajaj')
('Yamaha FZ25 ABS 250cc', 146000, 'Chennai', 3900, 'First Owner', 2, 250, 'Yamaha')
('Royal Enfield Thunderbird 350cc', 115000, 'Bangalore', 23700, 'First Owner', 4, 350, 'Royal Enfield')
('Bajaj CT 100 100cc', 30000, 'Noida', 8250, 'First Owner', 3, 100, 'Bajaj')
('Bajaj Pulsar RS200 ABS', 93100, 'Mumbai', 10000, 'First Owner', 5, 200, 'Bajaj')
('Yamaha YZF-R15 2.0 150cc', 82000, 'Mumbai', 4300, 'Second Owner', 3, 150, 'Yamaha')
('Royal Enfield Interceptor 650cc', 260000, 'Navi Mumbai', 3800, 'First Owner', 2, 650, 'Royal Enfield')
('Honda CB Shine 125cc', 38000, 'Bangalore', 33000, 'First Owner', 7, 125, 'Honda')
('KTM Duke 250cc', 130000, 'Gandhidham', 17500, 'Second Owner', 4, 250, 'KTM')
('Royal Enfield Himalayan 410cc', 118000, 'Gurgaon', 19000, 'First Owner', 4, 410, 'Royal Enfield')
('Bajaj Pulsar 135LS', 14700, 'Delhi', 10000, 'First Owner', 11, 135, 'Bajaj')
('Royal Enfield Thunderbird 350cc', 85000, 'Chennai', 54000, 'First Owner', 6, 350, 'Royal Enfield')
('Bajaj Pulsar 220F', 40000, 'Mumbai', 27000, 'First Owner', 7, 220, 'Bajaj')
('Yamaha FZ16 150cc', 50000, 'Bangalore', 19000, 'First Owner', 6, 150, 'Yamaha')
('Royal Enfield Thunderbird 350cc', 71800, 'Mumbai', 43500, 'First Owner', 7, 350, 'Royal Enfield')
('Royal Enfield Thunderbird 350cc', 71800, 'Mumbai', 43500, 'First Owner', 7, 350, 'Royal Enfield')
('Bajaj Pulsar NS200', 75000, 'Bangalore', 11575, 'First Owner', 4, 200, 'Bajaj')
('Ducati Scrambler 1100 Special', 1350000, 'Mumbai', 190, 'First Owner', 1, 1100, 'Ducati')
('Triumph Street Triple 765', 790000, 'Mumbai', 19000, 'First Owner', 3, 765, 'Triumph')
('Bajaj V15 150cc', 47000, 'Bangalore', 8600, 'First Owner', 4, 150, 'Bajaj')
('Bajaj Pulsar 150cc', 60000, 'Pune', 2000, 'First Owner', 2, 150, 'Bajaj')
('Suzuki Gixxer Fi 150cc ABS', 96700, 'Vadodara', 5100, 'First Owner', 1, 150, 'Suzuki')
('Hero Splendor plus 100cc', 31900, 'Delhi', 9000, 'First Owner', 5, 100, 'Hero')
('Bajaj Pulsar 150cc', 35000, 'Visakhapatnam', 44480, 'First Owner', 13, 150, 'Bajaj')
('KTM Duke 390cc', 240000, 'Bangalore', 11000, 'First Owner', 3, 390, 'KTM')
('Honda CBR 250R', 68000, 'Delhi', 16000, 'First Owner', 7, 250, 'Honda')
('Bajaj Pulsar RS200', 80000, 'Bangalore', 26691, 'First Owner', 5, 200, 'Bajaj')
('Royal Enfield Classic 350cc', 135000, 'Bangalore', 45000, 'First Owner', 5, 350, 'Royal Enfield')
('Bajaj Pulsar 150cc', 11100, 'Pune', 12000, 'Third Owner', 12, 150, 'Bajaj')
('Benelli TNT 600i', 480000, 'Mumbai', 14200, 'First Owner', 4, 600, 'Benelli')
('Suzuki Gixxer 150cc SP Rear Disc', 65000, 'Thrissur', 41000, 'First Owner', 3, 150, 'Suzuki')
('Yamaha FZ S V 2.0 150cc', 60000, 'Bangalore', 15000, 'First Owner', 5, 150, 'Yamaha')
('Honda CBR 150R 150cc', 80000, 'Bangalore', 12314, 'First Owner', 4, 150, 'Honda')
('Hero Splendor Plus Self Alloy 100cc', 46000, 'Delhi', 11760, 'First Owner', 3, 100, 'Hero')
('Royal Enfield Classic 500cc', 95000, 'Bangalore', 22000, 'First Owner', 11, 500, 'Royal Enfield')
('Hyosung GT650R', 400000, 'Delhi', 1800, 'First Owner', 4, 650, 'Hyosung')
('Bajaj V15 150cc', 55000, 'Bangalore', 4400, 'First Owner', 4, 150, 'Bajaj')
('Yamaha YZF-R15 S 150cc', 63000, 'Delhi', 16000, 'First Owner', 5, 150, 'Yamaha')
('Bajaj V15 150cc', 51000, 'Faridabad', 9000, 'First Owner', 4, 150, 'Bajaj')
('TVS Apache RTR 160 4V Disc', 69900, 'Delhi', 8700, 'First Owner', 3, 160, 'TVS')
('Bajaj Pulsar RS200 ABS', 125000, 'Gorakhpur', 1342, 'First Owner', 4, 200, 'Bajaj')
('Benelli TNT 300', 210000, 'Kolkata', 21000, 'First Owner', 6, 300, 'Benelli')
('Honda CB ShineSP 125cc', 35900, 'Delhi', 19000, 'First Owner', 5, 125, 'Honda')
('Honda CBR 250R', 67000, 'Delhi', 13000, 'First Owner', 9, 250, 'Honda')
('Hero Passion Pro 100cc', 29339, 'Ernakulam', 12771, 'First Owner', 4, 100, 'Hero')
('Hero Splendor Plus 100cc', 19695, 'Ernakulam', 51576, 'First Owner', 6, 100, 'Hero')
('Hero Splendor iSmart Plus IBS 110cc', 48672, 'Ernakulam', 608, 'First Owner', 2, 110, 'Hero')
('Honda CBR 150R 150cc', 40000, 'Mumbai', 13680, 'First Owner', 9, 150, 'Honda')
('Yamaha YZF R6 600cc', 500000, 'Bangalore', 285, 'First Owner', 5, 600, 'Yamaha')
('Ducati 1299 Superleggera', 800000, 'Mumbai', 3, 'First Owner', 3, 1299, 'Ducati')
('Royal Enfield Himalayan 410cc', 110000, 'Bangalore', 24676, 'First Owner', 5, 410, 'Royal Enfield')
('Royal Enfield Classic 350cc', 92500, 'Delhi', 11000, 'First Owner', 6, 350, 'Royal Enfield')
('Bajaj Pulsar NS200', 57000, 'Bangalore', 28948, 'First Owner', 5, 200, 'Bajaj')
('Royal Enfield Electra 350cc', 72500, 'Delhi', 10000, 'First Owner', 10, 350, 'Royal Enfield')
('KTM Duke 200cc', 68000, 'Delhi', 16000, 'First Owner', 9, 200, 'KTM')
('TVS Phoenix Disc 125cc', 21500, 'Barasat', 10500, 'First Owner', 5, 125, 'TVS')
('TVS Apache RTR 160cc', 40000, 'Delhi', 20000, 'First Owner', 6, 160, 'TVS')
('Royal Enfield Classic 350cc', 91000, 'Delhi', 18000, 'First Owner', 5, 350, 'Royal Enfield')
('Harley-Davidson Street 750', 300000, 'Ghaziabad', 3500, 'First Owner', 6, 750, 'Harley-Davidson')
('Suzuki Gixxer SF 150cc', 47000, 'Jaipur', 70000, 'First Owner', 6, 150, 'Suzuki')
('Suzuki Gixxer 150cc', 53000, 'Bangalore', 18158, 'First Owner', 6, 150, 'Suzuki')
('Suzuki Gixxer 150cc', 51000, 'Bangalore', 39140, 'First Owner', 5, 150, 'Suzuki')
('Bajaj Pulsar 220F', 48000, 'Bangalore', 27776, 'First Owner', 8, 220, 'Bajaj')
('Bajaj Pulsar 220cc', 55000, 'Bangalore', 32734, 'First Owner', 6, 220, 'Bajaj')
('Royal Enfield Himalayan 410cc Fi ABS', 173300, 'Vadodara', 14000, 'First Owner', 2, 410, 'Royal Enfield')
('Royal Enfield Bullet Electra 350cc', 77000, 'Delhi', 13000, 'First Owner', 8, 350, 'Royal Enfield')
('Bajaj Pulsar NS200', 115000, 'Bangalore', 5000, 'First Owner', 2, 200, 'Bajaj')
('Bajaj Discover 150cc', 36000, 'Hyderabad', 39500, 'First Owner', 7, 150, 'Bajaj')
('Bajaj Avenger Street 220', 72000, 'Hyderabad', 29500, 'First Owner', 4, 220, 'Bajaj')
('Royal Enfield Standard 350cc', 115000, 'Hyderabad', 14900, 'First Owner', 3, 350, 'Royal Enfield')
('Honda CB Shine 125cc Disc', 65000, 'Mumbai', 2000, 'First Owner', 3, 125, 'Honda')
('Honda CB Unicorn ABS 150cc', 99000, 'Mumbai', 4000, 'First Owner', 2, 150, 'Honda')
('Yamaha YZF-R15 2.0 150cc', 68500, 'Delhi', 68500, 'Second Owner', 7, 150, 'Yamaha')
('Yamaha YZF-R15 V3 150cc', 140000, 'Delhi', 2473, 'First Owner', 2, 150, 'Yamaha')