In [1]:
import pandas as pd
import os

In [2]:
os.chdir(r'F:\MODULE 1')

In [3]:
data1=pd.read_excel('Records Matching Task.xlsx',sheet_name='data1')

In [4]:
data1.shape

(9478, 3)

In [5]:
data1.head()

         Order ID       Product ID  Qty
0  CA-2014-100006  TEC-PH-10002075    3
1  CA-2014-100090  FUR-TA-10003715    3
2  CA-2014-100090  OFF-BI-10001597    6
3  CA-2014-100293  OFF-PA-10000176    6
4  CA-2014-100328  OFF-BI-10000343    1

In [6]:
data2=pd.read_excel('Records Matching Task.xlsx',sheet_name='data2')

In [7]:
data2.head()

         Order ID       Product ID  Qty
0  CA-2014-100090  FUR-TA-10003715    3
1  CA-2014-100090  OFF-BI-10001597    6
2  CA-2014-100293  OFF-PA-10000176    6
3  CA-2014-100328  OFF-BI-10000343    1
4  CA-2014-100363  OFF-FA-10000611    2

In [8]:
data2["Record"] = data2["Order ID"]+data2["Product ID"]
data1["Record"] = data1["Order ID"]+data1["Product ID"]

In [10]:
data1.head()

         Order ID       Product ID  Qty                         Record
0  CA-2014-100006  TEC-PH-10002075    3  CA-2014-100006TEC-PH-10002075
1  CA-2014-100090  FUR-TA-10003715    3  CA-2014-100090FUR-TA-10003715
2  CA-2014-100090  OFF-BI-10001597    6  CA-2014-100090OFF-BI-10001597
3  CA-2014-100293  OFF-PA-10000176    6  CA-2014-100293OFF-PA-10000176
4  CA-2014-100328  OFF-BI-10000343    1  CA-2014-100328OFF-BI-10000343

In [9]:
data2.head()

         Order ID       Product ID  Qty                         Record
0  CA-2014-100090  FUR-TA-10003715    3  CA-2014-100090FUR-TA-10003715
1  CA-2014-100090  OFF-BI-10001597    6  CA-2014-100090OFF-BI-10001597
2  CA-2014-100293  OFF-PA-10000176    6  CA-2014-100293OFF-PA-10000176
3  CA-2014-100328  OFF-BI-10000343    1  CA-2014-100328OFF-BI-10000343
4  CA-2014-100363  OFF-FA-10000611    2  CA-2014-100363OFF-FA-10000611

In [11]:
res = set(data2["Record"]).difference(set(data1["Record"]))

How to identify the Records (Order ID + Product ID combination) present in data1 but missing in data2 (Specify the number of records missing in your answer)

In [16]:
len(list(res))

508

How to identify the Records (Order ID + Product ID combination) missing in data1 but present in data2 (Specify the number of records missing in your answer)

In [17]:
res2 = set(data1["Record"]).difference(set(data2["Record"]))

In [19]:
records=list(res2)

In [24]:
len(list(res2))

507

In [23]:
rec=pd.DataFrame(records)
rec

                                 0
0    CA-2015-138954OFF-BI-10003963
1    CA-2015-165624OFF-LA-10003190
2    CA-2016-136770TEC-AC-10000420
3    US-2015-147242OFF-PA-10003039
4    CA-2016-116526OFF-BI-10004728
..                             ...
502  CA-2015-104486OFF-SU-10002573
503  CA-2015-119508OFF-AR-10003723
504  CA-2016-127243OFF-ST-10002301
505  CA-2014-112291OFF-EN-10001415
506  CA-2015-111514FUR-BO-10002545

[507 rows x 1 columns]

Find the Sum of the total Qty of Records missing in data1 but present in data2

In [40]:
p=[]
for i in range(len(records)):
    p.append(records[i][0:14])
Q=[]
for i in range(len(records)):
    Q.append(records[i][14:29])

In [43]:
P=pd.Series(p)
Q=pd.Series(Q)

In [44]:
k=pd.DataFrame(Q)

In [46]:
l=pd.DataFrame(P)

In [35]:
data_result = data1.merge(data2.drop_duplicates(), on=['Record'])

In [37]:
res3= data2['Qty'].sum()
res3

35999

Find the total number of unique records (Order ID + Product ID combination) present in the combined dataset of data1 and data2

In [28]:
data_result = data1.merge(data2.drop_duplicates(), on=['Order ID','Product ID'])

In [29]:
data_result

,Order ID,Product ID,Qty_x,Record_x,Qty_y,Record_y
0,CA-2014-100090,FUR-TA-10003715,3,CA-2014-100090FUR-TA-10003715,3,CA-2014-100090FUR-TA-10003715
1,CA-2014-100090,OFF-BI-10001597,6,CA-2014-100090OFF-BI-10001597,6,CA-2014-100090OFF-BI-10001597
2,CA-2014-100293,OFF-PA-10000176,6,CA-2014-100293OFF-PA-10000176,6,CA-2014-100293OFF-PA-10000176
3,CA-2014-100328,OFF-BI-10000343,1,CA-2014-100328OFF-BI-10000343,1,CA-2014-100328OFF-BI-10000343
4,CA-2014-100363,OFF-FA-10000611,2,CA-2014-100363OFF-FA-10000611,2,CA-2014-100363OFF-FA-10000611
...,...,...,...,...,...,...
8966,US-2017-169551,OFF-PA-10004100,3,US-2017-169551OFF-PA-10004100,3,US-2017-169551OFF-PA-10004100
8967,US-2017-169551,OFF-ST-10004835,3,US-2017-169551OFF-ST-10004835,3,US-2017-169551OFF-ST-10004835
8968,US-2017-169551,TEC-AC-10002018,3,US-2017-169551TEC-AC-10002018,3,US-2017-169551TEC-AC-10002018
8969,US-2017-169551,TEC-AC-10003033,2,US-2017-169551TEC-AC-10003033,2,US-2017-169551TEC-AC-10003033
8970,US-2017-169551,TEC-PH-10001363,2,US-2017-169551TEC-PH-10001363,2,US-2017-169551TEC-PH-10001363

In [ ]:
# 8971